@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  background-image: url(../imagens/roleta-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.img-sorteio {
  height: 520px;
}

.title-text {
  color: #a29999;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 20px;
}

input {
  width: 300px;
  padding: 15px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input:focus {
    outline: none;
  }

input::placeholder,
textarea::placeholder {
  color: #a29999;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
  height: 100px;

  text-align: left;
  text-align-last: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-sorteio {
  border-radius: 10px;
  background: #aec346;
  box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
  width: 300px;
  height: 72px;
  padding: 0px 76px;

  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5px;  
  cursor: pointer; 
}

.btn-sorteio:hover{
    background: #6a7729;
}

.btn-sorteio:active{
    background: #b4ca42;    
}
